<!DOCTYPE html>
<html>
  <head>
    <title>HenriWeather</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  </head>

  <body>
    <nav class="navbar navbar-light fixed-top bg-light">
      <a class="navbar-brand ml-5" href="/">
        <%= image_tag "henri-logo.png", width: "140" %>
      </a>
    </nav>
    <div class="container-fluid h-100 henri-background">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-5">
          <div class="text-right">
            <%= image_tag "henri-success.png" %>
          </div>
        </div>
        <div class="col-7 text-center">
          <div id="main-card" class="card">
              <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
